<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kotki</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">

</head>
<body style="background-color:black; background-image: url('imgs/kotek.png'); background-repeat: no-repeat; background-size: cover;">
<form name="kotki" method="post">
    <input type="number" min="0" max="100" name="ile"/>
    <input type="submit">
</form>
{% include 'menu.html' %}

{% if ile != None %}
{% for _ in range(ile) %}
<img src="imgs/kotek.jpg" alt = "Kotek">
<script>
    document.body.style.backgroundImage="";
    document.body.style.backgroundColor="black";
</script>
{% endfor %}
{% endif %}
</body>
</html>