<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista projektów</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">

</head>
<body>
{% include 'menu.html' %}
<div>
    <h1>Lista projektów</h1>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Liczba tablic</th>
            <th>Liczba zadań</th>
            <th>Akcje</th>
        </tr>
        {% for projekt in result %}
        <tr>
            <td><a href="/projekt_info/{{projekt[0]}}">{{ projekt[1] }}</a></td>
            <td>{{ projekt[2] }}</td>
            <td>{{ projekt[3] }}</td>
            <td>{{ projekt[4] }}</td>
            <td>{{ projekt[5] }}</td>
            <td>{{ projekt[6] }}</td>
            <td>
                <button name="usun" data-hidden-id="{{projekt[0]}}"> Usuń</button>
            </td>

        </tr>
        {% endfor %}

    </table>

    <h1>Dodaj projekt</h1>
    <form id="myForm">
        <label for="Nazwa">Nazwa projektu:</label><br>
        <input type="text" id="Nazwa" name="Nazwa" minlength="3" required><br>

        <label for="Opis">Opis projektu:</label><br>
        <textarea id="Opis" name="Opis"></textarea><br>

        <label for="Start_Data">Data rozpoczęcia:</label><br>
        <input type="date" id="Start_Data" name="Start_Data" required><br>

        <label for="Koniec_Data">Data zakończenia:</label><br>
        <input type="date" id="Koniec_Data" name="Koniec_Data" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('myForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                fetch('/dodaj_projekt', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw Error('Problem z połączeniem z serwerem');
                        }
                        return response;
                    })
                    .then(data => {
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

            });

            const deleteButtons = document.querySelectorAll('button[name="usun"]');


            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    var confirmation = confirm("Czy na pewno chcesz usunąć ten projekt razem z powiązanymi danymi z tabeli: Tablica, Zadanie, Zadania_Relacja, Projekt_Osoba_Rola? Dane zostaną usunięte kaskadowo.");

                    if (confirmation) {
                        const id = button.getAttribute('data-hidden-id');

                        fetch(`/usun_projekt/${id}`, {
                            method: 'DELETE'
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw Error('Problem z połączeniem z serwerem');
                                }
                                return response;
                            })
                            .then(() => {
                                window.location.reload();
                            })
                            .catch(error => {
                                console.error('JavaScript. Error:', error);
                            });
                    }

                });
            });

        });


    </script>
</div>
</body>
</html>